.message__message{
    min-width: 30px;
    max-width: 75%;
    min-height: 50;
    border-radius: 15px;
    padding: 5px 8px;
    margin: 1vh 0;

    word-break: break-all;

    display: flex;
    flex-direction: column;
}

.message__message--mine{
    background-color: green;

    align-self: flex-end;

    margin-right: 1vw;
}

.message__message--other{
    background-color: blue;

    align-self: flex-start;

    margin-left: 1vw;
}

.message__sender{
    color: rgba(255,255,255,0.6);
    font-size: 0.6em;
}